body {
	font-family: 'Roboto Mono', monospace;
}

span {
	color: deeppink;
}

.navbar {
	background-color: transparent;
}

.jumbotron {
	height: 100vh;
	background-color: #000;
}

.btn {
	background-color: transparent;
	color: #fff;
}

#play {
	margin: auto;
	padding: 20px;
	font-size: xx-large;
	border: solid 1px white;
}

@keyframes glowing {
	0% { box-shadow: 0 0 -10px #fff; }
	40% { box-shadow: 0 0 20px #fff; }
	60% { box-shadow: 0 0 20px #fff; }
	100% { box-shadow: 0 0 -10px #fff; }
	60% { box-shadow: 0 0 20px #fff; }
	40% { box-shadow: 0 0 20px #fff; }
	0% { box-shadow: 0 0 -10px #fff; }
}

.button-glow {
	animation: glowing 500ms infinite;
}

.modal-content {
	color: white;
	background-color: rgba(0,0,0,.7);
}

.modal-content input {
	background-color: rgba(0,0,0,.7);
}

.modal-content textarea {
	background-color: rgba(0,0,0,.7);
}

.modal-content a {
	color: white;
}

#sendButton {
	background-color: white;
	color: black;
}

#sendButton:hover {
	border: solid 1px white;
	background-color: transparent;
	color: white;
}